<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.mapper.DiscussPostMapper">
    <resultMap id="BaseResultMap" type="com.forum.entity.DiscussPost">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
        <result column="score" jdbcType="DOUBLE" property="score" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <insert id="insertDiscussPost" parameterType="com.forum.entity.DiscussPost">
        insert into discuss_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateCommentCount" parameterType="com.forum.entity.DiscussPost">
        update discuss_post
        <set>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- status = 2 是被拉黑的帖子 -->
    <select id="selectDiscussPosts" resultMap="BaseResultMap" parameterType="integer">
        select
             <include refid="Base_Column_List" />
        from
            discuss_post
        where
            status != 2
            <if test="userId != 0">
                and user_id = #{userId}
            </if>
        order by
            type desc,
            create_time desc
        limit
            #{offset},
            #{limit}
    </select>

    <!-- userId = 0 是查询所有帖子 -->
    <select id="selectDiscussPostRows" resultType="integer" parameterType="integer">
        select
            count(id)
        from
            discuss_post
        where
            status != 2
            <if test="userId != 0">
                and user_id = #{userId}
            </if>
        order by
            type desc,
            create_time desc
    </select>

    <!-- 依据帖子id查询帖子实体 -->
    <select id="selectDiscussPostById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from discuss_post
        where id = #{id}
    </select>
</mapper>